* {
    box-sizing: border-box;
}
body {
    font-family: 'Press Start 2P', cursive;;
    max-width: 1200px;
  margin-left: 15%;
}

#tv {
    background-image: url("imgs/Project1PicTV.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 header {
    text-align: center;
    margin-top: 30px;
} 
h1{
    color: red;
    margin-top: 20px;
}
.container {
   max-width: 1200px;
   margin-top: 10px;
} 
#logo {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img:not(#logo) {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 15px;
}
#scrollDiv {
    width:100%;
    height: auto;
}
.content {
    max-height: 350px;
    overflow: auto;
}
@media screen and (max-width: 480px) {
    h1 {
        margin-top: 10px;
    }
    /* .content {
        max-height: 180px;
        margin-right: 100px;
        width: 20%;
    } */
    #search_field {
        width: 90%;
    }
    #tv {
        background-image: url("imgs/ProjectPicGB.png");
    }
    .container {
    font-size: 10px;
    width: 50%;
    height: 200px;
    border: 1px dotted black;
    margin-left: 70px;
    margin-top: 80px;
    overflow: scroll;
    }
    #scrollDiv {
        font-size: 10px;
        width: 50%;
        height: 180px;
        margin-left: 70px;
        margin-top: 10px;
    }
    .player {
        width: 150px;
    }
    iframe {
        width: 150px;
        height: 100px;
    }
    #youtube {
        width: 150px;
    }
    #modal {
        width: 170px;
    }
    .grid {
        display: inline-block;
    }
}
@media screen and (min-width: 481px) {
    .container {
        font-size: 14px;
        width: 85%;
        height: auto;
        border: 1px dotted black;
        overflow: auto; 
    }
    #scrollDiv {
        width:85%;
        max-height: 230px;
        font-size: 14px;
    }
    .content {
        max-height: 200px;
    }
    #search_field {
        width: 65%;
    }
    .player {
        width: 250px;
    }
    iframe {
        width: 250px;
        height: 150px;
    }
    #youtube {
        width: 250px;
    }
    #modal {
        width: 270px;
    }
    .grid {
        display: inline-block;
    }
}
/* @media screen and (min-width: 1025px) {
    #scrollDiv {
        width:85%;
        margin-right: 15%; 
    }
   
    .content {
        max-height: 370px;
    }
    #search_field {
        width: 55%;
    }
/* }  */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 780px;
    max-width: 80%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .title{
    font-size: 1.25 rem;
    font-weight: bold;
}
.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 5px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
.player {
    margin: 3px;
}
/* .nes-btn:not(#search-button) {
    display: none; */
/* } */
#alert {
    display: none;
}
#yBtn {
    display: none;
}