body {
    font-family: 'Press Start 2P', cursive;;
    max-width: 800px;
  margin-left: 15%;
  background-image: url("imgs/Project1PicTV.png");
  background-size: 100% 100%;
  background-attachment: fixed;

 
}

 header {
    text-align: center;
    margin-top: 50px;
} 

h1{
    
    color: red;
    margin-top: 20px;
}

.container {
   max-width: 800px;
   margin-top: 40px;
} 


#hide {
    display: none;
}

#logo {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img:not(#logo) {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 15px;
}

#scrollDiv {
    width:100%px;
    height: auto;
}
.content {
    max-height: 500px;
    overflow: auto;
}